* {
    margin:0;
    padding:0;
}

:root {
    --background-color:#e5e1de;
    --button-color:#32333f;
    --font-color:#927394;
}

body {
    background-color:var(--background-color);
    color:var(--font-color);
    font-family:roboto, sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
  
header {
    display:flex;
    justify-content: space-between;
    width:90%;
    height:20px;
    margin: 0 auto;
}

.show {
    display:flex;
    flex:1;
    align-items:center;
    width:85%;
    margin:auto;
    text-align:center;
}

.hide {
    display:none;
}

.content{
    margin:auto;
}
.content h1 {
    font-size:32px;
    padding:20px;
    color:var(--button-color);
}

.content p {
    font-size:18px;
    padding-bottom:20px;
}

.begin-btn {
    background-color:var(--button-color);
    color:var(--background-color);
    border:none;
    padding:10px;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#question {
    text-align:center;
}